.wrapper {
  width: 88%;
  height: 100%;
  margin: 0 auto;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  /* margin-left: -14%;
  margin-top: -20%; */

}

div.cell {
  display: table-cell;
}

div.info {
  width: 100%;
}

.wrapper>form {
  margin: 30px;
  padding: 30px 10px;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 50px #a2beff;
  outline: 0;
}

label {
  padding-right: 8px;
  display: inline-block;
  min-width: 130px;
  margin-left: 20px;
  text-align: end;
}